/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 1028px) {

    header, nav, main, footer {
        max-width: 1200px;
        margin:auto;
    }

    nav ul {padding-left: 2%;}
    nav li {width: auto;}
    nav a {padding: .5rem 1rem;}

    div.news {column-count: 3;}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/



/*----------- FOOTER --------------*/
    
} /* end of media query */