/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: #ddd;
}
header img {float: left; padding-right: 15px;}
header h1 {margin: 1.5rem 0 0 0;}
header h2 {margin: 0; font-weight: normal;}

/*----------- NAVIGATION --------------*/
nav {
    background-color: #666;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    float: left;
    width: 25%;
}
nav ul li a {
    display: block;
    background-color: #444;
    color: #eee;
    border-left: 1px solid #777;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}
nav {background-color: #bf4f5f;}
nav ul{margin: 0; padding: 0;}
nav li{list-style-type: none;}
nav li.active {background-color: rgba(0, 0, 0, 0.5);}
nav a {
    display: block;
    padding: .8rem 0; /*44px min*/
    color: #eee;
    text-align: center;
    text-decoration: none;
}
nav ul li a:hover {background-color: rgba(#255, #255, #255, 0.2);}

main{display: block; padding: 1rem 2%;}
main h1 {color: #bf4f5f;}
main h2 {color: #888;}
main figure img {width: 100%; height: auto;}
main figure{
    margin: 0;
    width: 100%;
}

nav ul li.active a {
    background-color: #000;
    color: #fff;
}
/*----------- MAIN --------------*/
main {
    padding: 0;
    min-height: 10rem;
}
main figure.hero {width: 100%; margin: 0;}
main figure.hero img {width: 100%}
/*----------- FOOTER --------------*/
div#footerWrapper {background-color: #ddd;}
footer {
    
    padding: .5rem 2%;
    text-align: center;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}